<div class="card z-depth-1">
  <form class="card-block form" {{action "next" model on="submit"}}>
    <fieldset>
      <legend class="display-4 text-xs-center text-muted">Step 3</legend>
      <p class="lead text-xs-center">Terms of Service</p>
    </fieldset>

    <p>
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
      Blah blah blah Blah blah blah Blah blah blah Blah blah blah
    </p>

    <div class="checkbox">
      <label>
        <input type="checkbox"> I accept these terms
      </label>
    </div>

    <fieldset class="form-group m-t-3">
      <button type="submit" class="btn btn-success-2 btn-block btn-lg">Finish Up</button>
    </fieldset>
  </form>
</div>
