ul.form-steps {
  li {
    width: 30%;
    text-align: center;
    color: #333;
    cursor: pointer;
    &:before {
      text-align: center;
      border: 3px solid #333;
      height: 40px;
      border-radius: 75px;
      width: 40px;
      display: block;
      margin: 5px auto;
      font-size: 1.2em;
    }
    &.active:before {
      background: #333;
      color: #fff;
    }
  }
}

.form {
  fieldset {
    legend.display-4 {
      font-size: 1.5em;
    }
    p.lead {
      font-size: 2em;
    }
  }
}


#step-1:before  { content: "1"; }
#step-2:before  { content: "2"; }
#step-3::before { content: "3"; }
