ul.form-steps {
  li {
    width: 30%;
    text-align: center;
    color: #333;
    cursor: pointer;
    &:before {
      text-align: center;
      border: 3px solid #333;
      height: 40px;
      border-radius: 75px;
      width: 40px;
      display: block;
      margin: 5px auto;
      font-size: 1.2em;
    }
    &.active:before {
      background: #333;
      color: #fff;
    }
  }
}

.form {
  fieldset {
    legend.display-4 {
      font-size: 1.5em;
    }
    p.lead {
      font-size: 2em;
    }
  }
  .btn {
    color: #fff;
    background-color: $green;
    border: $green;
    border-bottom: 3px solid darken($green, 7%);
    &:hover {
      background-color: darken($green, 3%);
      border: darken($green, 5%);
      border-bottom: 3px solid darken($green, 7%);
    }
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
      background-color: darken($green, 5%);
    }
  }
}


#step-1:before  { content: "1"; }
#step-2:before  { content: "2"; }
#step-3::before { content: "3"; }
