<div class="the-project m-b-3">
  <h3 class="m-t-3 m-b-3">The Project</h3>

  <ul class="list-inline form-steps">
    {{#link-to "the-project.step-1" tagName="li" id="step-1" class="list-inline-item"}}Account{{/link-to}}
    {{#link-to "the-project.step-2" tagName="li" id="step-2" class="list-inline-item"}}Details{{/link-to}}
    {{#link-to "the-project.step-3" tagName="li" id="step-3" class="list-inline-item"}}Confirm{{/link-to}}
  </ul>

  {{outlet}}
</div>
