<div class="card">
  <form class="card-block form" {{action "next" on="submit"}}>
    <fieldset>
      <legend class="display-4 text-xs-center text-muted">Step 1</legend>
      <p class="lead text-xs-center">Create Your Account</p>
    </fieldset>
    <fieldset class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name">
    </fieldset>
    <fieldset class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email">
    </fieldset>
    <fieldset class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </fieldset>
    <fieldset class="form-group m-t-3">
      <button type="submit" class="btn btn-block btn-lg">Next Step</button>
    </fieldset>
  </form>
</div>
