<h1 class="display-3 text-xs-center p-b-3 p-t-3">Modern HTML5 Forms</h1>

<div class="list-group">
  {{#link-to "index" class="list-group-item"}}Home{{/link-to}}
  {{#link-to "the-basics" class="list-group-item"}}The Basics{{/link-to}}
</div>
