<div class="the-project">
  <h3 class="m-t-3 m-b-3">The Project</h3>

  <ul class="list-inline">
    <li class="list-inline-item">
      {{#link-to "the-project.step-1"}}Account{{/link-to}}
    </li>
    <li class="list-inline-item">
      {{#link-to "the-project.step-2"}}Details{{/link-to}}
    </li>
    <li class="list-inline-item">
      {{#link-to "the-project.step-3"}}Confirm{{/link-to}}
    </li>
  </ul>

  {{outlet}}
</div>
